.kaufman {
    margin: auto;
    background: #1f1f1f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 90px 0 90px;
}